input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.solver {
  text-align: center;
}

.solver-header {
  background-color: rgb(62, 59, 63);
  height: 40px;
  padding: 10px;
  color: rgb(57, 183, 187);
}

.solver-title {
  font-size: 1.5em;
}

.solver-intro {
  font-size: large;
}

.solver-board-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.solver-board {
  padding: 10px;
}

.solver-buttons {
  display: flex;
  flex-direction: column;
  margin: auto 15px;
}

.solver-button {
  padding: 5px;
}

.solver-button button {
  min-width: 120px;
  height: 30px;
  border-radius: 12px;
  border: 1px solid #1b8ba7;
  background-color: #ededed;
}

.solver-button button:active {
  background-color: rgb(133, 231, 223);
}